:root {
  /* Colors */

  /* Primary */

  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */

  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}


body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--Transparent-white-paragraphs);
  display: grid;
  place-items: center;
  padding: 3rem 1.5rem;
  min-height: 100vh;
}


.product {
  padding: 4rem 3.5rem;
}

.product:nth-child(1) {
  background-color: var(--Bright-orange);
  border-radius: 10px 10px 0 0;

  .product__learn-more {
    color: var(--Bright-orange);
  }
}

.product:nth-child(2) {
  background-color: var(--Dark-cyan);

  .product__learn-more {
    color: var(--Dark-cyan);
  }
}

.product:nth-child(3) {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 0 10px 10px;

  .product__learn-more {
    color: var(--Very-dark-cyan);
  }
}

.product__heading {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.8rem;
  color: white;
}

.product__description {
  color: var(--Transparent-white-paragraphs);
  line-height: 1.5;
  font-size: 1.1rem;
}

.product__learn-more {
  font: inherit;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: 2px solid transparent;
  margin-top: 1rem;
  transition: border-color .2s, background-color .2s, color .2s;
  cursor: pointer;
}

.product__learn-more:hover {
  background-color: transparent;
  border-color: white;
  color: white !important;
}

/* desktop */
@media (min-width: 40em) {
  body {
    padding-block: 0;
  }

  .products {
    display: flex;
    max-width: 1100px;
  }

  .product:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }

  .product:nth-child(3) {
    border-radius: 0 10px 10px 0;
  }

  .product__heading {
    font-size: 3rem;
  }

  .product__description {
    font-size: 1.15rem;
  }

  .product__learn-more {
    margin-top: 4rem;
    font-size: 1.1rem;
  }
}